<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/nodejs_logo.png" />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    $$CSS_LINKS$$
    <!-- External CSS -->
    <link rel="stylesheet" href="/assets/css/default.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />

    <title>$$DOCUMENT_TITLE$$</title>
  </head>

  <body>
   <!-- Navigation -->
<header>
  <nav id="navbar">

    <a href="/">
      <img id="logo" src="/assets/images/nodejs_logo.png" alt="icon logo" />
    </a>

    <a href="/nodejs-basics">Node.js Basics</a>
    <a href="/javascript-core">JavaScript Core</a>
    <a href="/nodejs-projects">Running Node Projects</a>
    <a href="/express-rest-modules">Express & REST</a>
    <a href="/frontend-security-tools">Frontend & Security</a>
    <div>
       <a href="/about">About</a>
    <a href="/contact">Contact</a>
    </div>
   

  </nav>
</header>
    <!-- Main Content -->
    <main>
