.auth-container {
  max-width: 360px;
  margin: 3rem auto;
  font-family: var(--sans);
  box-shadow: var(--shadow);
  border-radius: 12px;
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--border);
}

.form-section {
  padding: 2rem;
  background: var(--social-bg);
  border-radius: 12px;
}

h3,
h4,
h5 {
  color: var(--accent);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5 {
  font-size: 0.9rem;
}

.input-group {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: var(--text);
}

input,
select {
  width: 82%;
  padding: 0.7rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--code-bg);
  color: var(--text-h);
}

input:focus,
select:focus {
  border-color: var(--accent);
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-button:disabled {
  background: var(--border);
  cursor: not-allowed;
}

.text-button {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
}

.switch-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: var(--text);
}

.user-section {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.user-section p {
  font-size: 0.8rem;
}